* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #4F0715;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-style: normal;
}