@import url('https: //fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body button.text {
    display: flex;
    min-height: 30px;
    background: #000;
}

button .text {
    height: 30px;
    position: relative;
    border: 0;
    outline: none;
    background: none;
    color: rgb(40, 72, 94);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 800;
    cursor: pointer;
}

.hover-text {
    position: absolute;
    content: '';
    color: #00c3ff;
    height: 30px;
    width: 0%;
    inset: 0;
    overflow: hidden;
    border-right: 6px solid #00c3ff;
    transition: width 0.4s ease;
}

button.text:hover .hover-text {
    height: 30px;
    width: 80px;
    filter: drop-shadow(0 0 23px #00c3ff);
}